<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BeeSafeWeb</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/BeeSafeWeb.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/leafletjs/leaflet.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        #map {
            width: 80vw; 
            height: 65vh; 
        }

    </style>
</head>
<body>
@* Admittedly a HACK but it won't work otherwise *@
@if (ViewData["Title"] as string != "Log in")
{
    <nav class="bg-slate-600 text-white p-4 flex justify-between items-center">
        <!-- Left Side: Title -->
        <p class="text-xl font-bold"><a asp-controller="Home" asp-action="Index">'t Geels Bieke</a></p>
        <div class="flex space-x-4">
            <p><a asp-controller="Approvals" asp-action="Index">Show Pending Devices</a></p>
            <!-- Right Side: Login Button -->
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </div>
    </nav>
}

<main>
    @if (@ViewData["BigTitle"] != null)
    {
        <h1 class="text-3xl text-bold">@ViewData["BigTitle"]</h1>
    }
    @RenderBody()
</main>
<script src="~/lib/leafletjs/leaflet.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>